.pass_flex_display{
    margin-top: 40px;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
}
.pass_long_area{
    flex-grow: 2;
}
.pass_short_area{
    flex-grow: 0.5;
}
.pass_list>li>span{
    font-style: italic;
    padding: 12px 10px;
    padding-right: 20px;
    min-width: 120px;
}
.pass_list>li{
    margin: 10px;
    margin-left: 0;
    display: flex;
    flex-direction: row;
}

.pass_newpass {
    max-width: 35%;
    min-width: 150px;
    padding: 12px 10px;
    margin: 0;
    border: none;
    border-bottom: 2px solid #1D155D;
  }
.pass_lookup_button{
    width: 40px;
    background-color: aqua;
    height: 40px;
}
.pass_lookup_button_asd{
    width: 40px;
    background-color:black;
    height: 40px;
}

  @media( max-width: 450px ){
.pass_list{
    padding: 0;
}
  }