.talk-box-wrapper{
    width: 100%;
}
.talk-box-header{
    background:white;
    height: 20px;
}
.talk-box-status{
    padding: 0px;
    font-size: 24px;
}
.talk-input-raw{
   min-height:  40px;
   border: 1px solid #1D155D;
resize:vertical;
border-radius: 15px;
padding-left: 15px;
background-color: #f2f2f2;

}
.talk-input-wrapper{
    margin-top: 15px;
}
.talk-box-body{
    height: 600px;
    background-color: white;
    scrollbar-width: none;
}
.talk-input-raw:disabled{
    background-color: rgb(205, 240, 255);
}
.talk-message-content-wrapper.right{
    background: #cce2eb;
}
.talk-message-content-wrapper.left{
    background: #f2f2f2;
}
