.header {
    background-color: #1D155D;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 99999;
}

.menuitem {
    position: relative;
    text-align: center;
    font-size: 24px;
    margin: 0;

    color: #fff;
}

#loginitem {
    margin: 0;
    margin-left: 70px;
    padding-right: 0px;
    max-width: 200px;
    height: 100%;
}
.header_drpdwn{
    float: left;
    height: 100%;
    margin: 9px;
}
.header_background{
border: none;
    background-color:  #1D155D;
}
.header_flex{
    display: flex;
    flex-direction: row;
}
.header_flex_placeholder{
    flex: 1;
}
.btn-secondary:hover{
    background-color: #1D155D;
    border: none;
}
.login_button {
    text-align: center;
    background-color: #009FE3;
    cursor: pointer;
    padding-left: 20px;
    padding-right: 20px;
}

#login {
    margin: 0;
    display: table;
    width: 100%;
}

.padding_menu {
    padding: 10px 15px 10px 15px;
}

li > a {
    color: #fff;
}

ul > a {
    color: #fff;
}

@media ( max-width: 880px ) {
    #loginitem {
        margin-left: 0px;
        padding-left: 0px;
        display: block;
    }
}

@media ( max-width: 950px ) {
    #largemenu {
        display: none;
    }

}

@media ( min-width: 950px ) {
    .header_flex {
        display: none;
        padding: 0px 0px 0px 0px;
    }

}

.navbar {
    padding: 0;
}

#collapse-item {
    margin-left: 20px;
}

.footer {
    position: static;
    width: 100%;
    background-color: #1D155D;
    color: white;
    text-align: center;
    padding: 50px;
}

#Img_logo {
    width: 150px;
    float: left;
    left: 30px;
    bottom: 10px;

}

ul {
    list-style-type: none;
    margin: 0rem;
}

.footer_max {
    max-width: 1366px;
    padding: 0px 10px 16px;
    margin: 0 auto;

}

li {
    list-style-type: none;
}
