.info_gyak{
    font-weight: bold;
    font-size: 20px;
}
.info_flex{
    display: flex;
    flex-direction: row;
}
.info_flex>*{
    flex: 1;
}
@media (max-width: 750px) {
    .info_flex {
        
    flex-direction: column-reverse;
    }}