.menu_items {
    background-color: #1D155D;
    color: white;
    vertical-align: middle;
}

#loggedin_alertbox {
    font-weight: bold;
    margin: 10px 20px 0 20px;
}

.news_body_padding {
    padding: 0;
}

.flex_container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    height: 80%;
}

.flex_column {
    display: flex;
    flex-direction: column;
    scrollbar-width: 0;
}

.box_1 {
    max-height: 50px;
    display: flex;
    flex-direction: row;
}

.box_flex {
    flex: 1;
    background-color: #1D155D;
}

.menu_items_text {
    margin: 13px 30px 10px 20px;
}

.logout_color {
    background-color: #2767ce;
    height: 50px;
    cursor: pointer;
}

.content_box {
    padding: 20px;
    flex: 1;
    min-height: 700px;
}

.menu_items:hover {
    background-color: #5671eb;
    color: white;
}

#loggedin_placeholder_news {
    max-width: 1366px;
    padding: 0 16px;
    margin: 0 auto;
    min-height: 100vh;
}

.loggedin_news {
    border-style: solid;
    border-width: 2px;
}

#loggedin_menuicon {
    color: white;
    margin-right: 20px;
    cursor: pointer;
}


@media (min-width: 750px) {
    #loggedin_menuicon {
        display: none;
    }

    .loggedin_slidemenu {
        display: none;
    }
}

@media (max-width: 750px) {
    .loggedin_disapier {
        display: none;
    }

    .box_flex {
        display: none;
    }

    .loggedin_news {
        border-style: solid;
        border-width: 0;
    }

    .flex_container {
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        height: 80%;
    }

    #loggedin_placeholder_news {
        max-width: 1366px;
        padding: 0 0;
        margin: 0 0;
    }
}

.menu_items_text_two {
    margin: auto;
    padding-top: 0;
    scrollbar-width: 0;

    vertical-align: middle;
}

.menu_icons > * {

    vertical-align: middle;
    margin-left: 10px;
    margin-top: 15px;
}

.menu_items_two {
    color: white;
    vertical-align: middle;
    text-align: left;
    scrollbar-width: 0;
}

.bm-item {
    display: inline-block;
    /* Our sidebar item styling */
    text-decoration: none;
    margin-bottom: 10px;
    color: #d1d1d1;
    transition: color 0.2s;
    scrollbar-width: 0;
}

.bm-item-list {
    scrollbar-width: 0;
}


.bm-burger-bars {
    background: #373a47;
}

/* Position and sizing of clickable cross button */

.bm-cross-button {
    height: 24px;
    width: 24px;
}

/* Color/shape of close button cross */

.bm-cross {
    background: #bdc3c7;
}

.bm-cross-button {
    margin-right: 20px;
}

/* General sidebar styles */

.bm-menu {
    background: #1D155D;
    padding-top: 15px;
    font-size: 1.15em;
    scrollbar-width: 0;
}

/* Morph shape necessary with bubble or elastic */

.bm-morph-shape {
    fill: #1D155D;
}

/* Wrapper for item list */

/* Styling of overlay */

.bm-overlay {
    scrollbar-width: 0;
    background: rgba(0, 0, 0, 0.3);
}