.addreq_adddoc {
    margin: 20px 0 20px 0;
    border: 2px solid #1D155D;
    border-radius: 15px;
    padding: 10px;
}

.addreq_file_upload {
    border: 1px solid #1D155D;
    display: inline-block;
    background-color: #f2f2f2;
    padding: 6px 12px;
    cursor: pointer;
    border-radius: 5px;
}

.addreq_textholder > div {
    max-width: 300px;
    margin-left: auto;
    margin-right: auto;
}

.addreq_file_lookup {
    display: flex;
    flex-direction: row;
}

.addreq_textholder {
    text-align: center;
    flex: 1;
}

.addreq_line_text > span {
    margin-left: 10px;
    text-align: center;

}

.addreq_line_text {
    flex: 1;
    margin-bottom: 10px;
}

.addreq_extra_text {
    font-style: italic;
    word-break: break-all;

}

.addreq_uploadbutton {

    margin-left: 0;
    margin-right: 0;
}

@media ( max-width: 850px ) {
    .addreq_file_lookup {
        flex-direction: column;
    }

    .addreq_line_text {
        margin-left: auto;
        margin-right: auto;
    }

    .addreq_uploadbutton {
        margin-top: 20px;
        display: block;
        margin-left: auto;
        margin-right: auto;
    }
}