.talk-box-wrapper.custom {
    width: 100%;
}

.custom .talk-box-header {
    background: white;
    height: 20px;
}

.custom .talk-box-status {
    padding: 0;
    font-size: 24px;
}

.custom .talk-input-raw {
    min-height: 40px;
    border: 1px solid #1D155D;
    resize: vertical;
    border-radius: 15px;
    padding-left: 15px;
    background-color: #f2f2f2;

}

.custom .talk-input-wrapper {
    margin-top: 15px;
}

.custom .talk-box-body {
    height: 600px;
    background-color: white;
    scrollbar-width: none;
}

.custom .talk-input-raw:disabled {
    background-color: rgb(205, 240, 255);
}

.custom .talk-message-content-wrapper.right {
    background: #cce2eb;
}

.custom .talk-message-content-wrapper.left {
    background: #f2f2f2;
}
