.dnews_clear{
    color: #f2f2f2;
    cursor: pointer;
}
.dnews_flex{
    display: flex;
    flex-direction: row;

}
.dnews_flexiable{
    flex:1;
}
.dnews_head{
    background-color: #1D155D;
    padding: 10px;
    width: 100%;
}
.dnews_head.c{
    background-color: #1D155D;
    padding: 10px;
    width: 100%;
}
.menu-enter {
    max-height: 0px;
    -webkit-transition: max-height 1s ease;
    overflow: hidden; }
  
  .menu-enter.menu-enter-active {
    height: auto;
    max-height: 100px; }
  
  .menu-leave {
    max-height: 100px;
    -webkit-transition: max-height 1s ease; }
  
  .menu-leave.menu-leave-active {
    overflow: hidden;
    max-height: 0px; }