.news{
    border-style: solid;
    border-width: 2px; 
}
.news_head {
    background-color: #1D155D;
    margin-top: 20px;
    padding: 10px;
}
.marg{
    margin: 10px;
}
#asd{
    max-width: 1366px;
    padding:0 16px;
    margin: 0 auto;
}
.news_body{
    padding: 20px;
}
.news_text{
    color: white;
    font-size: 18px;
}
